{% extends "base.html" %} 
{% load static %}
{% block content %}


	<div class="container mt-5">
		<h1 class="mb-4">Edit Profile</h1>
        <p class="text-sm text-success p-1  usernameSuccessOutput"></p>
		<form id="edit-form">
            
			<div class="form-group">
                {% if not request.user.username %}
                    <span class="red-dot"></span>
                {% endif %}
				<label for="username">Username :</label>
				<input 
                type="text" 
                id="username" 
                name="username" 
                class="form-control" 
                disabled
                value={{ request.user.username }}>
                <div class="invalid_feedback invalid-feedback" style="display:none">
                </div>
                <p class="text-sm text-success usernameSuccessOutput"></p>
			</div>
			<div class="form-group">
                {% if not request.user.first_name %}
                    <span class="red-dot"></span>
                {% endif %}
				<label for="first-name">First Name :</label>
                
                <input 
                type="text" 
                id="first-name" 
                name="first-name" 
                class="form-control" 
                required
                value={{request.user.first_name}}>
			</div>
			<div class="form-group">
                {% if not request.user.last_name %}
                    <span class="red-dot"></span>
                {% endif %}
				<label for="last-name">Last Name :</label>
				<input 
                type="text" 
                id="last-name" 
                name="last-name" 
                class="form-control" 
                required
                value={{ request.user.last_name }}>
			</div>
			<div class="form-group">
                {% if not request.user.email %}
                    <span class="red-dot"></span>
                {% endif %}
				<label for="email">Email :</label>
				<input 
                type="email" 
                id="email" 
                name="email" 
                class="form-control" 
                disabled
                value={{ request.user.email }}>
			</div>
			<button 
            type="submit" 
            class="btn btn-primary"
            >Save Changes</button>
		</form>
	</div>
	<script src="{% static "js/edit-profile.js" %}"></script>


{% endblock %}